.section-header{
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

.table{
    position: relative;
    width: 60%;         /* width: 60%; 부여 (240903) */
    min-width: 1000px;  /* min-width: 1000px; 부여 (240903) */
    margin: 0 auto 100px auto;

}

.more-link {
    position: inherit;
    right: 200;
}