<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>ieumsae</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/lightbox.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/chatbot.css">
  </head>

<body>

<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="left-content">
          <p>ieumsae</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="right-icons">
          <ul>
            <li id="userInfo"><a href="/login">로그인 / 회원가입</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="./index.html" class="logo">
                        IEUMSAE
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li><a href="./study_main.html">STUDY</a></li>
                        <li><a href="./community_main.html">COMMUNITY</a></li>
                        <li><a href="./review_main.html">review</a></li>
                        <li class="scroll-to-section"><a href="#notice-board">notice</a></li>
                        <li><a href="./contact_us.html">Contact Us</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/images/study_main.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container1">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6 style="position: relative; left: 150px; top: -100px;">Hello Students</h6>
              <h2 style="color: white; position:relative; left: 150px; top: -100px;">Welcome to <SPAN style="color: yellow;">IEUMSAE</SPAN></h2>
              <!--<div class="main-button-red" style="left: 100px;">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>-->
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>RECOMMEND STUDY GROUP</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="/images/course-01.jpg" alt="Course One">
              <div class="down-content">
                <h4>Morbi tincidunt elit vitae justo rhoncus</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                        <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-02.jpg" alt="Course Two">
              <div class="down-content">
                <h4>Curabitur molestie dignissim purus vel</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Nulla at ipsum a mauris egestas tempor</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Aenean molestie quis libero gravida</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Lorem ipsum dolor sit amet adipiscing elit</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>TemplateMo is the best website for Free CSS</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Web Design Templates at your finger tips</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Please visit our website again</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Responsive HTML Templates for you</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>Download Free CSS Layouts for your business</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Morbi in libero blandit lectus cursus</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Curabitur molestie dignissim purus</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <A href="./study_detail.html">신청</A>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="notice-board" id="notice-board">
    <div class="tabs is-centered is-boxed is-medium">
        <ul>
            <li class="is-active">
                <a href="#" data-tab="competition">
                    <span style="color: rgb(216, 202, 254);">공모전 / 대회</span>
                </a>
            </li>
            <li>
                <a href="#" data-tab="news_kor">
                    <span style="color: rgb(216, 202, 254);">한국 뉴스</span>
                </a>
            </li>
            <li>
                <a href="#" data-tab="news_eng">
                    <span style="color: rgb(216, 202, 254);">외국 뉴스</span>
                </a>
            </li>
        </ul>
    </div>
    
    <!-- competition 탭의 테이블 -->
    <div id="competition" class="content active">
        <table class="table" bgcolor="white">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>공모전 / 대회 명</th>
                    <th>주최</th>
                    <th>게시 날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>사진 촬영 스터디</td>
                    <td>첫 사진 촬영 후기</td>
                    <td>2024-07-01</td>
                </tr>
                <!-- 추가 행을 여기에 넣을 수 있습니다 -->
            </tbody>
        </table>
    </div>

    <!-- news_kor 탭의 테이블 -->
    <div id="news_kor" class="content">
        <table class="table" bgcolor="white">
            <thead>
                <tr>
                    <th>번호</th>
                    <th style="text-align: center;">뉴스 제목</th>
                    <th style="text-align: center;">게시 날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td style="text-align: center;">음악 작곡 스터디</td>
                    <td style="text-align: center;">작곡 스터디 시작</td>
                </tr>
                <!-- 추가 행을 여기에 넣을 수 있습니다 -->
            </tbody>
        </table>
    </div>

    <!-- news_eng 탭의 테이블 -->
    <div id="news_eng" class="content">
        <table class="table" bgcolor="white">
            <thead>
                <tr>
                    <th>번호</th>
                    <th style="text-align: center;">뉴스 제목</th>
                    <th style="text-align: center;">게시 날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td style="text-align: center;">영상 편집 스터디</td>
                    <td style="text-align: center;">편집 기술 배우기</td>
                </tr>
                <!-- 추가 행을 여기에 넣을 수 있습니다 -->
            </tbody>
        </table>
    </div>

</section>
  
  <section>
    <table class="table" bgcolor="white">
      <DIV class="section-header" style="margin-bottom: 10px;">
        <h3 color="white" style="font-size: 2em;">STUDY REVIEW</h3>
      </DIV>
      <div class="more-link" style="margin-left: 1300px;">
        <a href="./review_main.html" id="board-more">
          + 더보기
        </a>
    </div>
      <thead>
        <tr>
          <th>번호</th>
          <th>스터디 명</th>
          <th >후기 제목</th>
          <th style="text-align: center;">작성 시간</th>
        </tr>
      </thead>
      <!--여기부터 리뷰 내용-->
      <tbody>
        
        <tr>
          <th>1</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>2</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>3</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>4</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>5</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>6</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>7</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>8</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>9</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>10</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
  <table class="table">
    <DIV class="section-header" style="margin-bottom: 10px;">
      <h3 color="white" style="font-size: 2em">COMMUNITY</h3>
    </DIV>
    <div class="more-link" style="margin-left: 1300px;">
      <a href="./community_main.html" id="board-more">
        + 더보기
      </a>
  </div>
    <thead>
      <tr>
        <th>번호</th>
        <th >제목</th>
        <th style="text-align: center;">작성자</th>
        <th style="text-align: center;">작성 시간</th>
      </tr>
    </thead>
    <!--여기부터 리뷰 내용-->
    <tbody>
      
      <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>4</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>5</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>6</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>7</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>8</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>9</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>10</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
    <div class="footer">
      <p>Copyright © 2024 ieumsae Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">ieumsae</a></p>
    </div>

    <!-------------------------------- Chatbot container -------------------------->
 <!-- Chatbot icon -->
 <button id="chatbot-icon" style="border: none; background: none; position: fixed; bottom: 20px; right: -120px; cursor: pointer; z-index: 1000;">
  <img src="/images/chatbot.png" alt="Chatbot Icon" style="width: 15%;">
</button>

<!-- Chatbot container -->
<div id="chatbot-container" style="display: none;">
  <div id="chat-container" class="card">
      <div id="close-button" style="text-align: right; padding: 5px;">
          <button class="btn btn-secondary" id="close-chat" style="color: black;">X</button>
      </div>
      <div id="message-container" class="card-body"></div>
      <div id="input-container" class="card-footer">
          <div class="input-group">
              <input type="text" id="input-message" class="form-control" placeholder="Type your message..." />
              <button id="send-button" class="btn btn-primary">Send</button>
          </div>
      </div>
  </div>
</div>
<!-------------------------------- Chatbot container 끝 -------------------------->
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
        //notice_board java script
        // 탭 클릭 시 컨텐츠 전환을 위한 JavaScript 코드
    document.querySelectorAll('.tabs a').forEach(tab => {
        tab.addEventListener('click', function(e) {
            e.preventDefault();

            // 모든 탭의 active 클래스 제거
            document.querySelectorAll('.tabs li').forEach(li => li.classList.remove('is-active'));

            // 현재 클릭된 탭에 active 클래스 추가
            this.parentNode.classList.add('is-active');

            // 모든 컨텐츠 숨기기
            document.querySelectorAll('.content').forEach(content => content.classList.remove('active'));

            // 클릭된 탭에 해당하는 컨텐츠 표시
            const contentId = this.getAttribute('data-tab');
            document.getElementById(contentId).classList.add('active');
        });
    });
        document.addEventListener('DOMContentLoaded', () => {
          fetchUserInfo();
        });

        function fetchUserInfo() {
          fetch('/api/user-info')
                  .then(response => {
                    if (!response.ok) {
                      throw new Error('네트워크 응답이 정상적이지 않습니다.');
                    }
                    return response.json();
                  })
                  .then(data => {
                    updateUserInfo(data);
                  })
                  .catch(error => {
                    console.error('Error:', error);
                    showLoginButton();
                  });
        }

        function updateUserInfo(data) {
          const userInfoDiv = document.getElementById('userInfo');
          if (data.username && data.username !== 'unknown') {
            userInfoDiv.innerHTML = `
                <p>${data.nickname}님 환영합니다!</p>
                <button class="button" onclick="showNicknameForm()">닉네임 변경</button>
                <a href="/my_page" class="button">마이페이지</a>
                <button class="button" onclick="logout()">로그아웃</button>
                <form id="nicknameForm" style="display: none;">
                    <input type="text" id="newNickname" placeholder="새 닉네임을 입력하세요">
                    <button class="button" type="button" onclick="checkNicknameDuplicate()">중복 확인</button>
                    <button class="button" type="submit">수정</button>
                </form>
            `;
            setupNicknameForm();
          } else {
            showLoginButton();
          }
        }

        function showLoginButton() {
          const userInfoDiv = document.getElementById('userInfo');
          userInfoDiv.innerHTML = `<a href="/login">로그인/회원가입</a>`;
        }

        function showNicknameForm() {
          const form = document.getElementById('nicknameForm');
          form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        function checkNicknameDuplicate() {
          const newNickname = document.getElementById('newNickname').value;
          if (!newNickname) {
            alert('닉네임을 입력해주세요.');
            return;
          }

          fetch(`/check/nickname/${encodeURIComponent(newNickname)}`)
                  .then(response => response.json())
                  .then(isDuplicate => {
                    if (isDuplicate) {
                      alert('이미 사용 중인 닉네임입니다.');
                    } else {
                      alert('사용 가능한 닉네임입니다.');
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                    alert('중복 확인 중 오류가 발생했습니다.');
                  });
        }

        function setupNicknameForm() {
          document.getElementById('nicknameForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const newNickname = document.getElementById('newNickname').value;

            fetch('/api/user-info', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({newNickname: newNickname})
            })
                    .then(response => {
                      if (!response.ok) {
                        return response.text().then(text => { throw new Error(text) });
                      }
                      return response.json();
                    })
                    .then(data => {
                      alert('닉네임이 성공적으로 변경되었습니다.');
                      fetchUserInfo();
                      document.getElementById('nicknameForm').style.display = 'none';
                    })
                    .catch(error => {
                      console.error('Error:', error);
                      alert(error.message || '닉네임 변경에 실패했습니다.');
                    });
          });
        }

        function logout() {
          fetch('/logout', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          }).then(() => {
            window.location.href = '/';
          }).catch(error => {
            console.error('Error:', error);
            window.location.href = '/';
          });
        }
    </script>






    <!-----------------------------chatbot script--------------------------------->
    <script>
      const chatContainer = document.getElementById('chatbot-container');
      const chatbotIcon = document.getElementById('chatbot-icon');
      const closeChatButton = document.getElementById('close-chat');

      // Toggle chat window on clicking the chatbot icon
      chatbotIcon.addEventListener('click', () => {
          chatContainer.style.display = 'flex';
          chatbotIcon.style.display = 'none';
      });

      // Close chat window and show chatbot icon again
      closeChatButton.addEventListener('click', () => {
          chatContainer.style.display = 'none';
          chatbotIcon.style.display = 'block';
      });

      const messageContainer = document.getElementById('message-container');
      const inputMessage = document.getElementById('input-message');
      const sendButton = document.getElementById('send-button');

      function sendMessage() {
          const message = inputMessage.value.trim();

          if (message) {
              // User message
              const userMessageElement = document.createElement('div');
              userMessageElement.classList.add('message', 'user-message');
              userMessageElement.textContent = message;
              messageContainer.appendChild(userMessageElement);
              inputMessage.value = '';

              // Simulated bot response
              setTimeout(() => {
                  const botMessage = "This is a simulated bot response.";
                  const botMessageElement = document.createElement('div');
                  botMessageElement.classList.add('message', 'bot-message');
                  botMessageElement.textContent = botMessage;
                  messageContainer.appendChild(botMessageElement);

                  // Scroll to the bottom of the message container
                  messageContainer.scrollTop = messageContainer.scrollHeight;
              }, 1000);
          }
      }

      sendButton.addEventListener('click', sendMessage);
      inputMessage.addEventListener('keyup', (event) => {
          if (event.key === 'Enter') {
              sendMessage();
          }
      });
  </script>
  <!----------------------------chat bot script 종료---------------------------------->
</body>

</body>
</html>