<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>1:1 채팅방</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/chatRoom.js}"></script>
</head>
<body>
<div id="chat-page">
    <input type="hidden" id="study-idx" th:value="${studyIdx}">
    <input type="hidden" id="user-idx" th:value="${userIdx}">
    <input type="hidden" id="chat-type" value="PERSONAL">
    <div id="chat-container">
        <div id="chat-messages"></div>
        <div id="message-input-container">
            <input type="text" id="message-input" placeholder="메시지를 입력하세요...">
            <button id="send-button">전송</button>
        </div>
    </div>
</div>
</body>
</html>
